In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
path = r"./adult2.txt"
data = pd.read_csv(path, header = 0)
data.columns = ['age', 'workclass', 'final_weight', 'education', 'education_num', 'marital_status', 'occupation', 'relationship', 'race', 'sex', 'capital_gain', 'capital_loss', 'hours_per_week', 'native_country', 'salary']
data.head()

,age,workclass,final_weight,education,education_num,marital_status,occupation,relationship,race,sex,capital_gain,capital_loss,hours_per_week,native_country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [2]:
data["race"]

0                      White
1                      White
2                      White
3                      Black
4                      Black
5                      White
6                      Black
7                      White
8                      White
9                      White
10                     Black
11        Asian-Pac-Islander
12                     White
13                     Black
14        Asian-Pac-Islander
15        Amer-Indian-Eskimo
16                     White
17                     White
18                     White
19                     White
20                     White
21                     Black
22                     Black
23                     White
24                     White
25                     White
26                     White
27        Asian-Pac-Islander
28                     White
29                     White
                ...
32531     Asian-Pac-Islander
32532                  White
32533     Asian-Pac-Islander
32534                  White
32535                  Black
32536                  White
32537                  Black
32538                  Black
32539                  White
32540                  White
32541                  Black
32542                  White
32543                  White
32544                  Other
32545                  White
32546                  White
32547                  White
32548                  White
32549                  White
32550                  White
32551     Amer-Indian-Eskimo
32552                  White
32553     Asian-Pac-Islander
32554                  White
32555                  White
32556                  White
32557                  White
32558                  White
32559                  White
32560                  White
Name: race, Length: 32561, dtype: object

In [3]:
data["race"].unique()

array([' White', ' Black', ' Asian-Pac-Islander', ' Amer-Indian-Eskimo',
       ' Other'], dtype=object)

In [4]:
for i in ["race", "occupation", "sex"]:
    un = data[i].unique()
    def transform(i):
        return np.argwhere(i==un)[0,0] #每个字符串转换为特征值数值
    data[i] = data[i].map(transform) #映射后每列的每个字符串单独处理
    x = data[['race','occupation','hours_per_week']].copy()
y = data['sex'].copy()

In [5]:
x

       race  occupation  hours_per_week
0         0           0              40
1         0           1              13
2         0           2              40
3         1           2              40
4         1           3              40
5         0           1              40
6         1           4              16
7         0           1              45
8         0           3              50
9         0           1              40
10        1           1              80
11        2           3              40
12        0           0              30
13        1           5              50
14        2           6              40
15        3           7              45
16        0           8              35
17        0           9              40
18        0           5              50
19        0           1              45
20        0           3              60
21        1           4              20
22        1           8              40
23        0           7              40
24        0          10              40
25        0          10              40
26        0           6              40
27        2          11              60
28        0           1              80
29        0           6              40
...     ...         ...             ...
32531     2          11              99
32532     0           3              60
32533     2           1              50
32534     0           0              39
32535     1          12              35
32536     0           1              55
32537     1           6              46
32538     1           3              45
32539     0          11              10
32540     0           0              40
32541     1          11              32
32542     0          11              25
32543     0           3              48
32544     4           4              30
32545     0           0              20
32546     0          10              40
32547     0           9              40
32548     0           3              60
32549     0           0              40
32550     0           6              50
32551     3           2              40
32552     0           5              45
32553     2          10              11
32554     0           1              40
32555     0          12              40
32556     0          10              38
32557     0           9              40
32558     0           0              40
32559     0           0              20
32560     0           1              40

[32561 rows x 3 columns]

In [6]:
y

0        0
1        0
2        0
3        0
4        1
5        1
6        1
7        0
8        1
9        0
10       0
11       0
12       1
13       0
14       0
15       0
16       0
17       0
18       0
19       1
20       0
21       1
22       0
23       0
24       1
25       0
26       0
27       0
28       0
29       0
        ..
32531    1
32532    0
32533    0
32534    1
32535    0
32536    1
32537    0
32538    1
32539    0
32540    1
32541    1
32542    0
32543    1
32544    1
32545    1
32546    1
32547    0
32548    0
32549    1
32550    0
32551    0
32552    0
32553    0
32554    0
32555    0
32556    1
32557    0
32558    1
32559    0
32560    1
Name: sex, Length: 32561, dtype: int64

In [7]:
# 得到训练和测试数据集
x_train, x_test, y_train, y_test = train_test_split(x,y,train_size=0.85)

e:\anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2026: FutureWarning: From version 0.21, test_size will always complement train_size unless both are specified.
  FutureWarning)

In [8]:
# 建立模型
clf = LogisticRegression()
# 训练
clf.fit(x_train, y_train)
# 打分
clf.score(x_test, y_test)

0.69007164790174

In [9]:
import sklearn
from sklearn import datasets, linear_model
from sklearn import metrics
from sklearn import tree
from sklearn.cross_validation import train_test_split
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.grid_search import GridSearchCV
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_predict
from sklearn.naive_bayes import MultinomialNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.neural_network import BernoulliRBM
from sklearn.neural_network import MLPClassifier
from sklearn.neural_network import MLPRegressor
from sklearn.externals import joblib

e:\anaconda3\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
e:\anaconda3\lib\site-packages\sklearn\ensemble\weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d
e:\anaconda3\lib\site-packages\sklearn\grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

In [10]:
# 线性回归算法，最小二乘法，函数名 LinearRegression
def mx_line(train_x, train_y):
    mx = LinearRegression()
    mx.fit(train_x, train_y)
    return mx

# 逻辑回归算法，函数名, LogisticRegression
def mx_log(train_x, train_y):
#     mx = LogisticRegression(penalty='12')
    mx = LogisticRegression()
    mx.fit(train_x, train_y)
    return mx

# 多项式朴素贝叶斯算法，Multinomial Naive Bayes，函数名，multinomialnb
def mx_bayes(train_x, train_y):
    mx = MultinomialNB(alpha=0.01)
    mx.fit(train_x, train_y)
    return mx
mx = mx_bayes(x_train, y_train)
mx.score(x_test, y_test)

# KNN近邻算法，函数名，KNeighborsClassifier
def mx_knn(train_x, train_y):
    mx = KNeighborsClassifier()
    mx.fit(train_x, train_y)
    return mx

# 随机随机森林算法,random forest classifier，函数名,RandomForestClassifier
def mx_forest(train_x, train_y):
    mx = RandomForestClassifier(n_estimators=8)
    mx.fit(train_x, train_y)
    return mx

# 决策树方法
def mx_dtree(train_x, train_y):
    mx = tree.DecisionTreeClassifier()
    mx.fit(train_x, train_y)
    return mx

# GBDT迭代决策树算法，Gradient Boosting Decision Tree,
# 又叫MART(Multiple Additive Regression Tree)，函数名，GradientBoostingClassifier
def mx_GBDT(train_x, train_y):
    mx = GradientBoostingClassifier(n_estimators=200)
    mx.fit(train_x, train_y)
    return mx

# SVM向量机算法，函数名 SVC
def mx_svm(train_x, train_y):
    mx = SVC(kernel='rbf', probability=True)
    mx.fit(train_x, train_y)
    return mx

# SVM-cross向量机交叉算法，函数名 SVC，自动调优
def mx_svm_cross(train_x, train_y):
    mx = SVC(kernel='rbf', probability=True)
    param_grid = {'C':[1e-3, 1e-2, 1e-1, 1, 10, 100, 1000], 'gamma':[0.001, 0.0001]}
    grid_search = GridSearchCV(mx, param_grid, n_jobs=1, verbose=1)
    grid_search.fit(train_x, train_y)
    best_parameters = grid_search.best_estimator_.get_params()
    mx = SVC(kernel='rbf', C=best_parameters['C'], gamma=best_parameters['gamma'], probability=True)
    mx.fit(train_x, train_y)
    return mx

# MLP神经网络算法
def mx_MLP(train_x, train_y):
    # mx = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5,2), random_state=1)
    mx = MLPClassifier()
    mx.fit(train_x, train_y)
    return mx

# 神经网络回归算法
def mx_MLP_reg(train_x, train_y):
    # mx = MLPClassifier(solver='lbfgs', alpha=1e-5, hidden_layer_sizes=(5,2), random_state=1)
    mx = MLPRegressor()
    mx.fit(train_x, train_y)
    return mx

In [11]:
mxfunSgn = {'line': mx_line,
            'log': mx_log,
            'bayes': mx_bayes,
            'knn': mx_knn,
            'forest': mx_forest,
            'dtree': mx_dtree,
            'gbdt': mx_GBDT,
            'svm': mx_svm,
            'svmcr': mx_svm_cross,
            'mlp': mx_MLP,
            'mlppreg': mx_MLP_reg}

In [12]:
resultlist = {}
for k in mxfunSgn:
    mx = mxfunSgn[k](x_train, y_train)
    score = mx.score(x_test, y_test)
    print(k, score)
    resultlist[k] = score
# resultlist.items().max

line 0.09384209129507448
log 0.69007164790174
bayes 0.6700102354145343
knn 0.7039918116683725
forest 0.7490276356192426
dtree 0.7529170931422723
gbdt 0.753121801432958
svm 0.7508700102354146
Fitting 3 folds for each of 14 candidates, totalling 42 fits

[Parallel(n_jobs=1)]: Done  42 out of  42 | elapsed: 71.1min finished

svmcr 0.7164790174002047
mlp 0.7160696008188332
mlppreg 0.14036211026226686

In [13]:
resultlist

{'bayes': 0.6700102354145343,
 'dtree': 0.7529170931422723,
 'forest': 0.7490276356192426,
 'gbdt': 0.753121801432958,
 'knn': 0.7039918116683725,
 'line': 0.09384209129507448,
 'log': 0.69007164790174,
 'mlp': 0.7160696008188332,
 'mlppreg': 0.14036211026226686,
 'svm': 0.7508700102354146,
 'svmcr': 0.7164790174002047}